@using ForumProject.Models.ViewModels
@model AddRoleViewModel

<h2>AddRole</h2>

@using (Html.BeginForm("AddRole", "Role", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.LabelFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Add" />
}