@using ForumProject.Models.ViewModels
@model EditRoleViewModel

@{
    ViewBag.Title = "EditRole";
}

<h2>EditRole</h2>

@using (Html.BeginForm("EditRole", "Role", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    @Html.LabelFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    <input type="submit" value="Edit" />
}