@using ForumProject.Models.Identity;
@model  RegistrationModel

@section Scripts{
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/signInUp.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @*<script>
        function OnComplete(res, status) {
            if (res.responseText == "true") {
                document.location.href = "/Auth/SignIn";
            } else {
                document.getElementById('message_wrong').innerHTML = "";
                document.getElementById('message_wrong').innerHTML = "Such login already exists <br/>";
            }
        }
    </script>*@
}

@section Styles{
    <link href="@Url.Content("~/Content/SigninupPage.css")" rel="stylesheet" type="text/css" />
}

<main>
    <div id="form_content">
        <h3>Sign up</h3>
        @*<div id="message_wrong" style="color: red"></div>*@            <!-- Wrong login or password message -->
        @using (Html.BeginForm("SignUp", "Auth", FormMethod.Post, new { @name="_form"}))
        {
            @Html.ValidationSummary(true)
            
            <span>Enter your name</span>
            @Html.ValidationMessageFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            <span>Enter your login</span>
            @Html.ValidationMessageFor(m => m.Login)
            @Html.EditorFor(m => m.Login)
            <span>Enter your password</span>
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            <span>Confirm your password</span>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            <input type="submit" value="Create account "/>
        }
    </div>

    <script>
        checkData();
    </script>
</main>