@using ForumProject.Models.Identity;
@model Login

@section Scripts{
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/signInUp.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
}

@section Styles{
    <link href="@Url.Content("~/Content/SigninupPage.css")" rel="stylesheet" type="text/css" />
}

<main>
    <div id="form_content">
        <h3>Sign in</h3>
        @using (Html.BeginForm("SignIn", "Auth", FormMethod.Post, new { @name="_form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

            <span>Login</span>
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.EditorFor(m => m.UserName)
            <span>Password</span>
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            <input type="submit" value="Log in" />
        }

        <a href="/Auth/SignUp">Sign up</a>
    </div>

    <script>
        checkData();
    </script>
</main>